<app-header></app-header>

<div class="container">
  <div class="container-login">

    <form>
      <h1>Login</h1>
      <h4>Entra tus credenciales</h4>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Usuario:</mat-label>
          <input matInput type="text" id="usuario" name="usuario">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Contraseña:</mat-label>
          <input matInput type="password" id="password" name="password">
        </mat-form-field>
      </div>
      <button mat-raised-button type="submit" style="background-color:#0F7486; color: aliceblue;" (click)="login()">Iniciar sesión</button>
      <button mat-raised-button color="accent" style="background-color:#0a3e47; color: aliceblue;" (click)="register()" >¿No estás registrado? ¡Regístrate aquí!</button>
    </form>
  </div>
</div>
