<div class="container">
  <div class="container-login">

    <form (submit)="iniciarSesion()">
      <h1>Login</h1>
      <h4>Entra tus credenciales</h4>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Usuario:</mat-label>
          <input matInput type="text" id="usuario" name="usuario">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Contraseña:</mat-label>
          <input matInput type="password" id="password" name="password">
        </mat-form-field>
      </div>
      <button mat-raised-button type="submit">Iniciar sesión</button>
    </form>
  </div>

  <h2>Registro</h2>

  <form (submit)="registrar()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nombre:</mat-label>
        <input matInput type="text" id="nombre" name="nombre">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Correo electrónico:</mat-label>
        <input matInput type="email" id="correo" name="correo">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Contraseña:</mat-label>
        <input matInput type="password" id="password2" name="password2">
      </mat-form-field>
    </div>
    <button mat-raised-button type="submit">Registrar</button>
  </form>

  <div *ngIf="!registrado">
    <button mat-raised-button color="primary" (click)="registrado = true">Crear una cuenta nueva</button>
  </div>

  <div *ngIf="registrado">
    <button mat-raised-button color="primary" (click)="registrado = false">Iniciar sesión</button>
  </div>
</div>
