<app-header></app-header>

<div class="container">
  <div class="container-register">

    <form>
      <h2>Registro</h2><br>
      <h4>Nombre:</h4>
      <mat-form-field>
        <mat-label></mat-label>
        <input matInput type="text" name="nombre" required>
      </mat-form-field>
      <h4>Apellido:</h4>
      <mat-form-field>
        <mat-label></mat-label>
        <input matInput type="text" name="apellido" required>
      </mat-form-field>
      <h4>Usuario:</h4>
      <mat-form-field>
        <mat-label></mat-label>
        <input matInput type="text" name="usuario" required>
      </mat-form-field>
      <h4>Email:</h4>
      <mat-form-field>
        <mat-label></mat-label>
        <input matInput type="email" name="email" required>
      </mat-form-field>
      <h4>Contraseña:</h4>
      <mat-form-field>
        <mat-label></mat-label>
        <input matInput type="password" name="password" required>
      </mat-form-field>

      <button mat-raised-button color="primary" type="submit" (click)="register()">Registrarse</button>

      <button mat-raised-button color="accent" (click)="volverLogin()">Volver al Login!</button>
    </form>

  </div>
</div>
